# Default Function #

In [4]:
def abc():  # Function Dec
    print("Pakistan Zinda Bad")  # Body Start Statement1
    print("Hellow Pakistani")    # Body Start Statement2
    print("We Love Our Country") # Body End Statement3
    
abc()
abc()
abc()
abc()
abc()
abc()

Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country
Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country
Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country
Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country
Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country
Pakistan Zinda Bad
Hellow Pakistani
We Love Our Country

In [8]:
def id_card(sid, name, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {name}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
id_card(1, "RYZUQP", "Rizwan","AI", "12:15 to 3:15")

    PIAIC Islamabad
    Stdent id: 1
    Name: RYZUQP
    Father's Name: Rizwan
    Course: AI
    Timing: 12:15 to 3:15

# Optional Arguments #

In [9]:
def pls(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
pls(5)

5 0 0
5

In [11]:
pls(6,7)
pls(8,5,9)
pls() # Required Argument Must Be Defined

6 7 0
13
8 5 9
22

TypeError: pls() missing 1 required positional argument: 'x'

# Non Return Functions #

In [13]:
a = print("pakistan")
print(a)

pakistan
None

In [14]:
b = pls(5,7,9)
print(b)

5 7 9
21
None

# Return Functions

In [16]:
def pls(x=0, y=0, z=0):
    return x+y+z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

15 15

In [18]:
def pls(x=0, y=0, z=0):
    return x+y+z # Always Return First Return Statement
    return x-y+z
    return x+y/z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

15 15

In [21]:
def pls(x=0, y=0, z=0):
    return x+y+z , x-y+z , x+y*z

a = pls(7,8)
b = pls(8,4,3)

print(a,b)

(15, -1, 7) (15, 7, 20)

# Keyword Arguments

In [23]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
id_card(sid=1, sname="RYZUQP", timing="12:15 to 3:15", fname="Rizwan", course="AI")

    PIAIC Islamabad
    Stdent id: 1
    Name: RYZUQP
    Father's Name: Rizwan
    Course: AI
    Timing: 12:15 to 3:15

In [24]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
id_card(1, "RYZUQP", timing="12:15 to 3:15", fname="Rizwan", course="AI")

    PIAIC Islamabad
    Stdent id: 1
    Name: RYZUQP
    Father's Name: Rizwan
    Course: AI
    Timing: 12:15 to 3:15

In [28]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
id_card(1, "RYZUQP", fname="Rizwan", course="AI", "12:15 to 3:15") # First Pass Positiontal Arguments and then pass keyword Arguments

TypeError: id_card() got multiple values for argument 'fname'

# Pass Arguments By List

In [30]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
l1 = [8, "A", "B", "C", "D"]
l2 = [8, "A1", "B1", "C1", "D1"]

# id_card(l1[0], l1[1], l1[2], l1[3], l1[4])
id_card(*l1)
id_card(*l2)
print(*l1)

    PIAIC Islamabad
    Stdent id: 8
    Name: A
    Father's Name: B
    Course: C
    Timing: D


    PIAIC Islamabad
    Stdent id: 8
    Name: A1
    Father's Name: B1
    Course: C1
    Timing: D1

8 A B C D

# Pass Arguments By Dictionary

In [32]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Stdent id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
l1 = {
    'course': 'A,i',
    'timing': '12:15 to 3:15',
    'sname': 'RYZUQP',
    'fname': 'ABC',
    'sid': '1',
}

id_card(**l1)

    PIAIC Islamabad
    Stdent id: 1
    Name: RYZUQP
    Father's Name: ABC
    Course: A,i
    Timing: 12:15 to 3:15

# Optional Parameters with List

In [34]:
def abc(name, *number):
    print(name)
    print(number)
    
abc("RYZUQP", 5,8,9,10)

RYZUQP
(5, 8, 9, 10)

In [35]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
    
abc("RYZUQP", 5,8,9,10)

RYZUQP
(5, 8, 9, 10)
32

In [36]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(5,8,9,10, name="RYZUQP")

RYZUQP
(5, 8, 9, 10)
32

# Optional Parameters with Dictionary

In [38]:
def abc(name,**kv):
    print(name)
    print(kv)
    
abc('RYZUQP', a='aa', b='bb', c='cc')

RYZUQP
{'a': 'aa', 'b': 'bb', 'c': 'cc'}

In [39]:
def abc(name,**kv):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
    
abc('RYZUQP', a='aa', b='bb', c='cc')

RYZUQP
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan

In [42]:
def abc(**kv, name):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
    
abc(a='aa', b='bb', c='cc', 'RYZUQP') # Not Work

SyntaxError: invalid syntax (<ipython-input-42-1e55efc3285c>, line 1)

# Recursive Function

In [44]:
def xyz(n): # Recursion function khud apnay andar call hota hai
    if n==1:
        return 1
    
    return n * xyz(n-1)

xyz(5)
# 1*2*3*4*5=120

120

# Generator Functions

In [47]:
def my_range(n):
    for i in range(1,n+1):
        print(i)
        
my_range(10)

1
2
3
4
5
6
7
8
9
10

In [48]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
my_range(10)

In [52]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
a = my_range(10)
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

list(a)

<generator object my_range at 0x0000019BF6E4FB48>
1
2
3
4
5

[6, 7, 8, 9, 10]

In [57]:
def my_range(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
        yield i
        
a = my_range(1500)


list(a)

IndentationError: expected an indented block (<ipython-input-57-5d0e965f1d91>, line 4)

# Lambda Function

In [58]:
def abc(x,y): return x+y

abc(5,6)

11

In [60]:
abc = lambda x,y,z: x+y+z # Lambda function isi line main call hota hai na is say pehlay na is k bad

abc(5,6,9)

20

In [62]:
abc = lambda x,y: 


abc(6,4)

SyntaxError: invalid syntax (<ipython-input-62-e6447afbb783>, line 1)