In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
# operators
5 + 8 
# operators
# +, -, /, *, %, **
# =, +=, -=, /=, *=, %=
# ==, >, <, >=, <=
# operands
# 5 , 8

13

In [3]:
#PEMDAS (Parentheses, Exponent, Multiplication, Division, Addition, substraction)
5 + 7 - 8 * (2/2) + 200
#5 + 7 - 8 * 1 + 200
#5 + 7 - 8 + 200
#212 - 8
#204

204.0

In [4]:
a = 8
b = 8

print(a)
print(b)

print(id(a))
print(id(b))

8
8
140712131863152
140712131863152

In [5]:
a = 8
b = 8

print(a)
print(b)

print(id(a))
print(id(b))

b += 1
print(id(a))
print(id(b))

8
8
140712131863152
140712131863152
140712131863152
140712131863184

In [6]:
a = 7
type(a)

int

In [7]:
a = 20.8
type(a)

float

In [8]:
a = True
type(a)

bool

In [9]:
a = False
type(a)

bool

In [10]:
5 / 5

1.0

In [11]:
a = '1'
type(a)

str

In [12]:
a = "1"
type(a)

str

In [13]:
a = """1"""
type(a)

str

In [14]:
"1" + '1'

'11'

In [15]:
int("1") + int ('1')

2

In [16]:
a = 20
type(a)

int

In [17]:
'1' + 7

TypeError: can only concatenate str (not "int") to str

In [18]:
'1' + '7'

'17'

In [21]:
#operator overloading
a = "pakistan"
a * 2

'pakistanpakistan'

In [22]:
names = ["Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200]
print(type(names))

<class 'list'>

In [23]:
names = ("Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200)
print(type(names))

<class 'tuple'>

In [24]:
names = {"Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200}
print(type(names))

<class 'set'>

In [25]:
#index     0       1         2        3         4       5        6      7
names = ["Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200]
#index    -8       -7       -6       -5        -4       -3      -2      -1
print(type(names))
print(names)

<class 'list'>
['Ali', 'Rizwan', 'Yasir', 'Zeshan', 'Usman', 'Umar', 'Qasim', 200]

In [26]:
#index     0       1         2        3         4       5        6      7
names = {"Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200}
#index    -8       -7       -6       -5        -4       -3      -2      -1
print(names[0])
print(type(names))

TypeError: 'set' object is not subscriptable

In [27]:
#to get index set we change data type to list
names = {"Ali", "Rizwan", "Yasir", "Zeshan", "Usman", "Umar", "Qasim", 200}
names = list(names)
print(names[0])
print(type(names))

Qasim
<class 'list'>

In [28]:
data = {
    #key : Value
    'name' : "M Rizwan",
    'fname' : "M Anwar Khan",
    5       : 'Pakistan'
}
data[5]

'Pakistan'

In [29]:
data = {
    #key : Value
    'name' : "M Rizwan",
    'fname' : "M Anwar Khan",
    'name'  : "M Mubeen",
    5       : 'Pakistan'
}
data[name]

NameError: name 'name' is not defined

In [33]:
data = {
    #key : Value
    'name' : "M Rizwan",
    'fname' : "M Anwar Khan",
    'name'  : "M Mubeen",
    5       : 'Pakistan',
    "a" : [True, "pakistan",20,3.0]
}
data['a']

[True, 'pakistan', 20, 3.0]

In [34]:
a = "M Rizwan"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
a = "M RiZwAn"
print(a.upper())
print(a)

M RIZWAN
M RiZwAn

In [37]:
a = "M RiZwAn"
a = a.upper()
print(a)

M RIZWAN

In [38]:
a = "M RiZwAn"
print(a.lower())
print(a)

m rizwan
M RiZwAn

In [40]:
a = "M RiZwAn"
a = a.lower()
print(a)

m rizwan

In [41]:
a = "M RiZwAn"
a = a.capitalize()
print(a)

M rizwan

In [42]:
a = "   M RiZwAn     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

16
M RiZwAn
13

In [43]:
a = "   M RiZwAn     "
print(len(a))
print(a.strip())
print(len(a.strip()))

16
M RiZwAn
8

In [45]:
b = "   M RiZwAn     ".split()
b

['M', 'RiZwAn']

In [49]:
a = "we are pakistan we love our country!"
a

'we are pakistan we love our country!'

In [50]:
#slicing getting more thaen one value row list
#types of slicing
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])
print(a[::-1])
print(a[7:15:])

we are pakistan we love our country!
we are pakistan we love our country!
!yrtnuoc ruo evol ew natsikap era ew
pakistan

In [51]:
print(a)
print(a.index("pakistan"))

we are pakistan we love our country!
7

In [52]:
a[a.index("pakistan"):15]

'pakistan'

In [53]:
str.isnumeric('5')

True

In [54]:
str.isnumeric('5A')

False

In [56]:
a = "kajsjljnlenlnflnfl3"
"".join([i for i in a if str.isnumeric(i)])

'3'

In [65]:
name = "M Rizwan"
fname = "M Anwar Khan"
program = "AI"
score = 100

card = """
Bharia University Islamabad
name : %s
father's Name : %s
program : %s
score : %d
"""
print()

In [66]:
name = "M Rizwan"
fname = "M Anwar Khan"
program = "AI"
score = 100

card = f"""
Bharia University Islamabad
Name : %s
Father's Name : %s
Program : %s
Score : %d
"""
print(card)

Bharia University Islamabad
Name : %s
Father's Name : %s
Program : %s
Score : %d

In [62]:
name = "M Rizwan"
fname = "M Anwar Khan"
program = "AI"
score = 100

card = """
Baharia University Islamabad
Name : {}
Father's Name : {}
Program : {}
Score : {}
"""
print(card.formate(Name,Fname,Program,Score))

AttributeError: 'str' object has no attribute 'formate'

In [67]:
name = "M Rizwan"
fname = "M Anwar Khan"
program  = "AI"
score = 100
print("Bahria University Islamabad"\n)

SyntaxError: unexpected character after line continuation character (<ipython-input-67-0a301afe9f8e>, line 5)