# Hierarchical Indexing

In [1]:
import numpy as np
import pandas as pd

In [9]:
data = pd.Series(np.random.randn(9),
        index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
        [1, 2, 3, 1, 3, 1, 2, 2, 3] ] )
display(data)
#hierarchically indexed object partial indexing is possible

a  1   -0.915709
   2   -2.252896
   3    0.305133
b  1    2.504671
   3   -0.161717
c  1   -0.230194
   2    1.524644
d  2    1.384543
   3    1.001529
dtype: float64

In [10]:
display(data['a'])

1   -0.915709
2   -2.252896
3    0.305133
dtype: float64

In [16]:
display(data['b'])

1    2.504671
3   -0.161717
dtype: float64

In [17]:
display(data['c'])

1   -0.230194
2    1.524644
dtype: float64

In [11]:
data['b':'c']

b  1    2.504671
   3   -0.161717
c  1   -0.230194
   2    1.524644
dtype: float64

In [18]:
data['a':'b']

a  1   -0.915709
   2   -2.252896
   3    0.305133
b  1    2.504671
   3   -0.161717
dtype: float64

In [19]:
data['c':'d']

c  1   -0.230194
   2    1.524644
d  2    1.384543
   3    1.001529
dtype: float64

In [12]:
data.loc[['b', 'd']]

b  1    2.504671
   3   -0.161717
d  2    1.384543
   3    1.001529
dtype: float64

In [20]:
data.loc[['a', 'd']]

a  1   -0.915709
   2   -2.252896
   3    0.305133
d  2    1.384543
   3    1.001529
dtype: float64

In [21]:
data.loc[['b', 'c']]

b  1    2.504671
   3   -0.161717
c  1   -0.230194
   2    1.524644
dtype: float64

In [13]:
# i can access inner level of index, which will select all uper indexes at level 1
data.loc[:, 2]

a   -2.252896
c    1.524644
d    1.384543
dtype: float64

In [22]:
# i can access inner level of index, which will select all uper indexes at level 1
data.loc[:, 1]

a   -0.915709
b    2.504671
c   -0.230194
dtype: float64

In [23]:
# i can access inner level of index, which will select all uper indexes at level 1
data.loc[:, 3]

a    0.305133
b   -0.161717
d    1.001529
dtype: float64

In [15]:
#Hierarchical indexing plays an important role in reshaping data and group-based
#operations like forming a pivot table. For example, 
#you could rearrange the data into
#a DataFrame using its unstack method:
df = data.unstack()
display(df)
df.stack()

          1         2         3
a -0.915709 -2.252896  0.305133
b  2.504671       NaN -0.161717
c -0.230194  1.524644       NaN
d       NaN  1.384543  1.001529

a  1   -0.915709
   2   -2.252896
   3    0.305133
b  1    2.504671
   3   -0.161717
c  1   -0.230194
   2    1.524644
d  2    1.384543
   3    1.001529
dtype: float64

In [26]:
df.stack()

a  1   -0.915709
   2   -2.252896
   3    0.305133
b  1    2.504671
   3   -0.161717
c  1   -0.230194
   2    1.524644
d  2    1.384543
   3    1.001529
dtype: float64